html, body {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	background: #2b3e50;
}

#header {
	height: 7%;
	color: #77e1ee;
	font-size: 200%;
	background-color: #2b3e50;
	text-align: center;
}

#map {
	height: 67%;
	text-align: center;
	background-color: #2b3e50;
}

.form-horizontal, .form-group {
	width:100%;
	margin-left: auto;
	margin-right: auto;
	background-color: #2b3e50;
}

#from-input, #destination-input, .center {
	height: 15%;
	font-size: 150%;
	text-align: center;
	color: #f27500;
	border-color: #e87e03;
	background: #2b3e50;
	margin: 1%;
}

.img {
	padding: 5%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}